


<div class="card" style="height:300p;display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    <h6 style="color:darkred" class="card-title">@ViewBag.msg</h6>
<a href="/AdminPanel/AdminPanel"  > Go to Admin Panel </a>
   
</div>

